.body{
    font-family: 'Poppins', sans-serif;
}
.background {
    background-image: url('https://templatemo.com/templates/templatemo_589_lugx_gaming/assets/images/banner-bg.jpg');
    min-height: 450px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow: hidden;
    border-bottom-right-radius: 200px;
    border-bottom-left-radius: 200px;
}
.container {
    position: absolute;
    left: 55%;
    transform: translateX(-50%);
    width: 90%;
    max-width: 1200px;
}
.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    position: fixed;
}
.navbar ul {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 50px;
    margin-left: auto;
}
.navbar li {
    margin-right: 40px;
}
.navbar li a {
    text-decoration: none;
    color: #fff;
}
.custom-btn {
    border-radius: 20px;
    padding: 10px;
    font-size: small;
    width: 100px;
}
.heading{
    margin-top: 18%;
    font-weight: bold;
    display: block;
    margin-left: 400px;
    color:white;
}
.heading a{
    color: white;
    text-decoration: none;
}
.heading h5{
    padding-left: 60px;
    padding-top: 30px;
    font-size: large;
}
.background .heading h1{
    font-weight: bold;
}
.Head h3 {
    font-size: 1.7rem;
    margin-bottom: 10px;
    color: #333;
    font-weight: bolder;
}
.images-price {
    display: flex;
    align-items: center;
    gap: 10px; 
    margin-bottom: 10px;
    margin-top: 30px;
}
.images-price strike {
    font-size: 1.2rem;
    color: #888; 
}
.images-price h4 {
    font-size: 2rem;
    color: #0071F8; 
    font-weight: bold;
}
.left-image{
    margin-left: 7%;
}
.Head p {
    font-size: 1rem;
    color: #555; 
    line-height: 1.5;
    margin-bottom: 15px;
    margin-top: 10%;
}
.Game-container-details{
    display: flex;
    justify-content: space-between;
    margin-top: 10%;
}
.Head{
    width: 47%;
    margin: 3%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.Head h3{
    font-weight: 700;
}
.Image-price{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 15%;
    gap:15px;
}
.Image-price strike{
    color:#c8c8c8;
    font-weight: 600;
    font-size: 17px;
}
.Image-price h3{
    color: #0071f8;
    font-weight:bold;
    font-size: 2em;
}
.button-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 45%;
    gap:10px;
    margin-top: 6%;
}
.button-container input{
    width: 80px;
    height: 50px;
    border-radius: 30px;
    border: none;
    border: 1px solid #e6e6e6;
    background-color: #f7f7f7;
    text-align: center;
    outline: none;
}
.button-container a{
    text-decoration: none;
}
.button-container input:focus-within{
    outline: 4px solid #97c2f7;
}
.button-container .btn-primary{
    background-color: #ee626b;
    border: none;
    width: 175px;
    height: 50px;
    border-radius: 30px;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 30px;
    text-transform: uppercase;
    font-size: 14px;
}
.button-container .btn-primary:hover{
    background-color: #0071f8;
}
.Left-content{
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin-top: 10%;
}
.headings{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color:#c8c8c8;
}
.Right-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 15vh;
    color: #437ff8;
}
.Right-content a{
    text-decoration: none;
}
.Line {
    margin:5% 7%;
}
.Description-box {
    margin: 6% 8%;
    background-color: #f7f7f7;
    padding: 60px;
    border-radius: 30px;
    height: 10%;
    width: 80%;
}

.title {
    display: flex;
    align-items: center;
    gap: 20px; 
}

.title h6 {
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
    transition: 0.3s ease;
}

.title hr {
width: 1px;
height: 20px;
    background-color: black;
    border: none;
}

.second-content {
    opacity: 0;
    transform: translateY(10%);
    transition: transform 0.3s ease;
    position: absolute;
}
.categories{
    margin: 5%;
}
.categories-container-up{
    display: flex;
    text-align: start;
    justify-content: space-between;
    padding-left: 3%;
    width: 100%;
}
.categories-content h5{
    color: #ee626b;
    font-weight: 800;
}
.categories-content h1{
    font-size: 36px;
    font-weight: 800;
    color:#1e1e1e;
}
.categories-images{
    padding: 5% 3%;
    display: flex;
    gap: 15px;
}
.categories-images .images{
    height: 100px;
    background-color: #0071f8;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 15px;
}
.categories-images .images h3{
    color: white;
    text-align: center;
    padding: 7% 0%;
}
.categories-images .images div{
    border-radius: 20px;
    margin-top: 5%;
}
.footer .image{
    margin-top: 15%;
    border-radius: 125px;
}
footer{
    background-image: url("https://templatemo.com/templates/templatemo_589_lugx_gaming/assets/images/footer-bg.jpg");
    padding: 30px 90px 90px;
    text-align: center;
    border-top-right-radius: 125px;
    border-top-left-radius: 125px;
    color: white;
    font-size: 17px;
    font-weight: 600;
    margin-top: 20%;
}
footer a{
    color: white;
    text-decoration: none;
    transition: 0.3s ease-in-out;
}
footer a:hover{
    color: gainsboro;
}
.categories-button button {
    padding: 15px 25px;
    background-color: #ee626b;
    border-radius: 50px;
    border: none;
    color: white;
    font-weight: 700;
    cursor: pointer;
    margin-right: 50px;
}
.categories-button button:hover {
    background-color: #008af8;
}
.categories-button a {
    color: white;
    text-decoration: none;
    font-weight: 700;
}

