body {
    font-family: 'Arial', sans-serif;
    background-color: #f3f4f6;
}
.card {
    border-radius: 10px;
    box-shadow:rgba(0, 0, 0, 0.1);
    border: none;
    background: white;
    margin-top: 40px;
    padding: 50px ;
}
.form-outline input {
    border: 2px solid #ced4da;
    border-radius: 8px;
    padding: 10px;
    width: 100%;
    transition: border-color 0.3s ease-in-out;
}
.form-outline input:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}
.form-label {
    font-weight: bold;
    margin-left: 5px;
    color: #495057;
}
.form-check-input {
    width: 18px;
    height: 18px;
}
.form-check-label {
    font-size: 14px;
    color: #495057;
}
.btn-primary {
    background-color: #007bff;
    border: none;
    padding: 12px 20px;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s ease-in-out;
    border-radius: 8px;
    width: 100%;
}
.btn-primary:hover {
    background-color: #0056b3;
}